<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tu_koushui0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,40},{11,14}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{11,14}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>tu_koushui0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{21,18}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{21,18}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>tu_koushui0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,31},{29,26}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>tu_koushui0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,2},{27,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{27,30}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>tu_koushui0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,36}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tu_koushui.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8235f8f5860c3af8ed8a10a627b895c6$</string>
            <key>textureFileName</key>
            <string>tu_koushui.png</string>
        </dict>
    </dict>
</plist>
