<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ptjn_01.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>ptjn_02.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>140</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>ptjn_03.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>308</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>ptjn_04.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>499</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>ptjn_05.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>698</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>ptjn_06.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>ptjn_08.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>18.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>ptjn_15.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>385</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ptjn0.png</string>
			<key>realTextureFileName</key>
			<string>ptjn0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>