<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jzs9_01.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>23</real>
			</dict>
			<key>jzs9_02.png</key>
			<dict>
				<key>width</key>
				<integer>208</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>43.5</real>
			</dict>
			<key>jzs9_03.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>370</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>48</real>
			</dict>
			<key>jzs9_04.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>592</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>49.5</real>
			</dict>
			<key>jzs9_05.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>218</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>209</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>49</real>
			</dict>
			<key>jzs9_06.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>228</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>209</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>50</real>
			</dict>
			<key>jzs9_07.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>209</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>50.5</real>
			</dict>
			<key>jzs9_08.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>726</integer>
				<key>y</key>
				<integer>209</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>50</real>
			</dict>
			<key>jzs9_09.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>228</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>443</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>53</real>
			</dict>
			<key>jzs9_10.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>234</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>242</integer>
				<key>y</key>
				<integer>443</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>57</real>
			</dict>
			<key>jzs9_11.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>249</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>443</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>59.5</real>
			</dict>
			<key>jzs9_12.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>259</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>674</integer>
				<key>y</key>
				<integer>443</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>59.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zzx0.png</string>
			<key>realTextureFileName</key>
			<string>zzx0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>