<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>buffadd1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {94, 89}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{94, 89}</string>
			<key>spriteSourceSize</key>
			<string>{118, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 91}, {94, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buffadd10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 7}, {104, 83}}</string>
			<key>spriteOffset</key>
			<string>{-6, 1}</string>
			<key>spriteSize</key>
			<string>{104, 83}</string>
			<key>spriteSourceSize</key>
			<string>{118, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 293}, {104, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buffadd11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 2}, {104, 85}}</string>
			<key>spriteOffset</key>
			<string>{5, 5}</string>
			<key>spriteSize</key>
			<string>{104, 85}</string>
			<key>spriteSourceSize</key>
			<string>{118, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 271}, {104, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buffadd12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 2}, {106, 95}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{106, 95}</string>
			<key>spriteSourceSize</key>
			<string>{118, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{110, 196}, {106, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buffadd13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {102, 93}}</string>
			<key>spriteOffset</key>
			<string>{5, -3}</string>
			<key>spriteSize</key>
			<string>{102, 93}</string>
			<key>spriteSourceSize</key>
			<string>{118, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 95}, {102, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buffadd2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {110, 97}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{110, 97}</string>
			<key>spriteSourceSize</key>
			<string>{118, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {110, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buffadd3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {106, 89}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{106, 89}</string>
			<key>spriteSourceSize</key>
			<string>{118, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{314, 0}, {106, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buffadd4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{3, 3}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{118, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 188}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buffadd5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 1}, {104, 91}}</string>
			<key>spriteOffset</key>
			<string>{7, 3}</string>
			<key>spriteSize</key>
			<string>{104, 91}</string>
			<key>spriteSourceSize</key>
			<string>{118, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 95}, {104, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buffadd6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 4}, {104, 93}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{104, 93}</string>
			<key>spriteSourceSize</key>
			<string>{118, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 0}, {104, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buffadd7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {94, 91}}</string>
			<key>spriteOffset</key>
			<string>{-4, 4}</string>
			<key>spriteSize</key>
			<string>{94, 91}</string>
			<key>spriteSourceSize</key>
			<string>{118, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 0}, {94, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buffadd8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {108, 95}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{108, 95}</string>
			<key>spriteSourceSize</key>
			<string>{118, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 196}, {108, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buffadd9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {110, 95}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{110, 95}</string>
			<key>spriteSourceSize</key>
			<string>{118, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 99}, {110, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>buffadd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>buffadd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>