<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jfs8_01.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>31.5</real>
			</dict>
			<key>jfs8_12.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>178</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>46.5</real>
			</dict>
			<key>jfs8_11.png</key>
			<dict>
				<key>width</key>
				<integer>318</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>jfs8_10.png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>680</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>29.5</real>
			</dict>
			<key>jfs8_09.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>46</real>
			</dict>
			<key>jfs8_08.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>186</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>43.5</real>
			</dict>
			<key>jfs8_07.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>389</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>jfs8_02.png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>570</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>32.5</real>
			</dict>
			<key>jfs8_03.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>750</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>31.5</real>
			</dict>
			<key>jfs8_04.png</key>
			<dict>
				<key>width</key>
				<integer>221</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>30</real>
			</dict>
			<key>jfs8_05.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>223</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>50.5</real>
			</dict>
			<key>jfs8_06.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>211</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>449</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>56</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>fsmzh0.png</string>
			<key>realTextureFileName</key>
			<string>fsmzh0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>